<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Template Tutorial</title>
</head>
<body>
    {% load custom_filters %}

    <h1>
        Welcome to my blog. {{ name|default:"Please sign in" }}
    </h1>



    <p>Date is {{ todays_date| date:'N Y' }}</p>

    Number of recent blogs: {{ recent_blogs|length }}

    {% for recent in recent_blogs %}

      <h4>{{ recent|title_parser:'html'|safe}}</h4>

    {% endfor %}

</body>
</html>