<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            MyBlog
        {% endblock %}
    </title>
</head>
<body>
    <h1>
        {% block h1 %}
            Welcome to my blog!!
        {% endblock %}
    </h1>

    {% block content %}

        <div class="container">

            Please find something interesting to read on my blog

            <form action="/home/" method="POST" novalidate>
                {% csrf_token %}
                {% for option in signup_form.choices %}
                <div style="display:inline-block;">
                    <p >{{ option }}</p>
                </div>
                {% endfor %}
                <br/><br/>
                <input type="submit" value="Submit" />
            </form>

        </div>

    {% endblock %}


</body>
</html>




